.blog-container {
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.post-container {
    width: 850px;
    /* background-color: blue; */
    
}

.post {
   margin-left: 15px;
}

.blog-recent {
    font-family: Playfair Display;
    font-size: 18px;
}

.blog-list {
    font-family: Open Sans;
    margin-bottom: 15px;
    font-size: 14px;
    color: #84bac2;
}

.blog-list:hover {
    color: black;
}

.blog-image {
    width: 100%;
    height: auto;
}

.hrspacer {
    border: 1px solid black;
    width: 80%;
    opacity: .1;
    margin-top: 45px;
    margin-bottom: 60px;
}

.blog-right {
    margin-left: 25px;
}

.blog-title {
    font-family: Playfair Display;
    font-size: 35px;
    margin: 25px 0px 25px 0px;
}

.blogsmall {
    display: flex;
}

.blog-date {
    font-family: Open Sans;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-style: italic;
    /* background-color: red; */
}

.blog-readmore {
    font-family: Open Sans;
    
    text-align: left;
    line-height: 25px;
    color: #3d3d3d;
    font-size: 14px;
}

.icons {
     
   
  margin-right: 5px;
    
}

.blog-message {
    font-family: Open Sans;
    margin-bottom: 10px;
    line-height: 25px;
}


@media(max-width: 1130px) {
    .blog-container {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 1000px) {
     
    .post-container {
        width: 85%;
    }
}

@media(max-width: 748px) {
     
    .blog-container {
        margin-top: 150px;
    }
}